body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

form input,
form textarea,
form select,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#tarefas {
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(186, 190, 190);
}
#title{
    text-align: center;
}

#conteiner{
    height: auto;
    width: auto;
    padding: 15px;
    border-radius: 2%;
    background-color: rgb(186, 190, 190);
}
.tarefa {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.tarefa h3 {
    margin-top: 0;
}

.remover-tarefa {
    float: right;
    color: #f00;
    cursor: pointer;
}
